CELERY_BROKER_URL=broker://url:password@ip_add:port//
CELERY_RESULT_BACKEND=redis://ip_addr:port/0
CHECK_URL=http://url_processor:5001/task-status
FREE=free
HITS=hits
MANY=many
UPLOAD_URL=http://url_processor:5001/upload
URL_PROCESSOR=http://url_processor:5001/fetch-urls
ENVIRONMENT=dev