<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Downloader</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
<div class="ui container" style="margin-top: 5em">
	<h1 class="ui center aligned header">Downloader App</h1>

	<form class="ui form" action="/download" method="post">
		<div class="field">
			<!-- URL FIELD -->
			<label style="margin-top: 5em;" for="url_field">URL</label>
			<input style="margin-bottom: 5em;" type="text" id = "url_field" name="url" placeholder="Enter URL...">

			<!-- PARENT FIELD -->
			<label for="parent_directory_field">Parent Directory</label>
			<input style="margin-bottom: 4em;" type="text" id = "parent_directory_field" name="parent_directory" placeholder="Enter Parent Directory...">

			<!-- NUMBER OF PAGES FIELD -->
			<label for="number_field">NUMBER OF PAGES</label>
			<input style="margin-bottom: 5em;" type="number" id = "number_field" name="number_of_pages" placeholder="Enter Number of Pages...">

			<!-- SUBMIT BUTTON -->
			<button class="ui blue button" type="submit">Download</button>
		</div>
	</form>
</div>
</body>
</html>