<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Downloader</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>
<body>
<div class="ui container" style="margin-top: 5em">
	<h1 class="ui center aligned header">Downloader App</h1>

	<form class="ui form" action="/download" method="post">
		<div class="field">
			<label for="url_field">URL</label>
			<input type="text" id = "url_field" name="url" placeholder="Enter URL...">
			<br>
			<button class="ui blue button" type="submit">Download</button>
		</div>
	</form>
</div>
</body>
</html>